<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Lei Shi" />
        <meta charset="utf-8" />
        <link rel="alternate" type="application/atom+xml"
            title="Atom 1.0"
            href="http://lshi.org/atom.xml"
        />
        <link rel="alternate" type="application/rss+xml"
            title="RSS 2.0"
            href="http://lshi.org/rss.xml"
        />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <title>{{ page.title }}</title>
        <script type="text/javascript">
        <!--
            function init() {
                var loc = window.location.pathname;
                if (loc.match(/^\/(index\.html)?$/)) {
                    document.getElementById('nav_blog').className = 'active';
                }
                else if (loc.match(/^\/about\/(index\.html)?$/)) {
                    document.getElementById('nav_about').className = 'active';
                }
                else if (loc.match(/^\/projects\/(index\.html)?$/)) {
                    document.getElementById('nav_projects').className = 'active';
                }
                else if (loc.match(/^\/5calc/)) {
                    document.getElementById('nav_5calc').className = 'active';
                }
            }
        -->
        </script>
    </head>
    <body onload="init()">
        <header id="banner" class="body">
        <h1>Lei Shi's Homepage</h1>
        <br />
        <nav>
        <ul>
            <li id="nav_blog"><a href="/">/blog</a></li>
            <li id="nav_about"><a href="/about/">/about</a></li>
            <li id="nav_projects"><a href="/projects/">/research</a></li>
            <li id="nav_publication"><a href="/publication/">/publication</a></li>
            <li id="nav_notes"><a href="/notes/">/notes</a></li>
            <li id="nav_hobby"><a href="/hobby/">/hobby</a></li>
            <li id="nav_link"><a href="/link/">/link</a></li>
        </ul>
        </nav>
        </header>
        <section id="content" class="body">
        {{ content }}
        </section>
        <section id="extras" class="body">
        <div class="taglist">
            <h2>tags</h2>
            <ul>
                {% for tag in site.tags %}
                    <li><a href="/tag/{{ tag.first }}/">{{ tag.first }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="blogroll">
            <h2>blogroll</h2>
            <ul>
                <!--
                <li><a href="#" rel="external">blog1</a></li>
                -->
            </ul>
        </div>
        <div class="social">
            <h2>social</h2>
            <ul>
                <li><a href="http://github.com/stoneszone" rel="me">github</a></li>
                <li><a href="https://plus.google.com/101758203509357498635" rel="me">google+</a></li>
                <li><a href="http://lshi.org/rss.xml" rel="alternate">rss</a></li>
                <li><a href="http://lshi.org/atom.xml" rel="alternate">atom</a></li>
            </ul>
        </div>
        </section>
        <footer id="contentinfo" class="body">
        <address id="about" class="vcard body">
            <span class="primary">
                <strong><a href="#" class="fn url">Lei Shi</a></strong>
                <span class="email">leishi@iastate.edu</span>
            </span>
            <div id="siteinfo">
                powered by <a href="http://jekyllrb.com/">jekyll</a> and <a href="http://www.gnu.org/software/emacs/">Emacs</a>
                <br />
                &copy; 2011-2012
            </div>
        </address>
        </footer>
    </body>
</html>
